.sidebar {
  --slide-duration: 400ms;

  display: grid;
  grid-auto-rows: minmax(50px, max-content);
  grid-template-columns: 70px;
  row-gap: 5px;
  background-color: rgb(32, 31, 36);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 10px 10px 10px 0;

  transition: grid-template-columns var(--slide-duration)
    cubic-bezier(0.74, 1.12, 0.54, 1.06);

  > * {
    display: flex;
    position: relative;
    align-items: center;
    gap: 15px;

    padding-left: 25px;
    border-left: 5px solid transparent;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;

    font-weight: lighter;
    span {
      white-space: nowrap;
    }

    transition: box-shadow 200ms ease-in-out;

    svg {
      width: 20px;
      height: 20px;
      path {
        transition: fill 300ms ease-in;
      }
    }

    span {
      display: none;
      max-width: 0;
      transition:
        display 1ms linear allow-discrete,
        max-width 200ms ease-in-out,
        opacity 200ms ease 100ms;
      box-shadow: 0 0 0 transparent;
    }
  }

  :has(.large-logo) {
    max-width: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    transition: max-width var(--slide-duration) ease-in-out;
  }

  :has(.small-logo) {
    grid-row-start: 1;
    grid-column-start: 1;
    svg {
      margin-bottom: 75px;
    }
  }

  > *:not(.large-logo):not(.small-logo):not([data-selected="true"]):hover {
    path {
      fill: white;
    }
  }

  > [data-selected="false"]:hover {
    box-shadow: 2px 0px 5px white;
  }

  > [data-selected="true"] {
    background-color: white;
    border-left: 5px solid darkgreen;
    path {
      fill: black;
      transition: fill 200ms ease-in;
    }
    transition:
      background-color 100ms ease-in,
      color 100ms ease-in;
  }

  [data-selected="true"]::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 10px;
    opacity: 0;
    left: 0px;
    top: 0px;
    background-color: darkgreen;
    animation: var(--slide-duration) cubic-bezier(0.74, 1.12, 0.54, 1.06)
      driftIn;
  }

  .maximize-button {
    border-left: 5px solid transparent;
    margin-top: 390px;
    svg {
      transition: transform 500ms cubic-bezier(0.74, 1.12, 0.54, 1.06);
      transform-origin: 200% 200%;
      transform: rotate(-0.5turn) translate(280%, 300%);
      path {
        transition: fill ease-in-out 200ms;
      }
    }
  }
}

.sidebar[data-maximized="false"] {
  > * > span {
    opacity: 0;
  }
}

.sidebar[data-maximized="true"] {
  grid-template-columns: 300px;

  .maximize-button {
    svg {
      transform: rotate(0);
    }
  }
  .large-logo {
    transition: max-width 350ms ease-in-out;
    max-width: 130px;
    opacity: 1;
  }

  > * > span {
    display: block;
    opacity: 1;
    max-width: 100%;
    @starting-style {
      opacity: 0;
      max-width: 0;
    }
  }

  [data-selected="true"] {
    path {
      fill: darkgreen;
    }
  }

  [data-selected="false"] {
    color: white;
  }

  [data-selected="true"]::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    opacity: 0;
    left: 0px;
    top: 0px;
    background-color: darkgreen;
    animation: var(--slide-duration) cubic-bezier(0.74, 1.12, 0.54, 1.06)
      driftOut;
    /* background: linear-gradient(to left, darkgreen, white); */
  }
}

@keyframes driftOut {
  0% {
    opacity: 0.5;
    width: 0px;
  }

  100% {
    opacity: 0;
    width: 10px;
  }
}

@keyframes driftIn {
  0% {
    opacity: 0;
    width: 10px;
  }

  100% {
    opacity: 0.7;
    width: 0;
  }
}
