.card {
  display: grid;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  > span:nth-of-type(1) {
    font-weight: bold;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  margin-bottom: 10px;
  > span:nth-of-type(1) {
    font-size: 1rem;
    font-weight: bold;
  }
}

.caret-link {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 0.7rem;
  color: grey;
  > svg {
    width: 8px;
    height: 8px;
  }
}

.amount-with-label {
  display: grid;
  grid-template: min-content min-content / min-content 1fr;
  column-gap: 15px;
  white-space: nowrap;

  > span:nth-of-type(1) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-size: 0.6rem;
    color: grey;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  > span:nth-of-type(2) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 2px;
  }
  .colorbar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    height: 100%;
  }
}

.colorbar {
  width: 4px;
  border-radius: 1rem;
}

.divider {
  height: 0;
  border-top-color: rgb(249, 249, 249);
  border-top-width: 1px;
  border-top-style: solid;
  margin: 15px 0 15px 0;
}

.pie-chart {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.budget-indicator {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  span:nth-of-type(1) {
    font-size: 1.7rem;
    font-weight: bold;
  }

  span:nth-of-type(2) {
    font-size: 0.6rem;
    color: grey;
    font-weight: lighter;
  }
}
